<html>
    <head>
        <link rel="shortcut icon" href="img/favicon.ico">
        <title>MuchTwitch</title>
        <style type="text/css">
            body {
                background:white;
            }
            .div {
                display: inline-block;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <!-- Add a placeholder for the Twitch embed -->
        <div style="text-align: center;">
        <div class="div" id="twitch-embed"></div>
        Homepage coming soon! To use MuchTwitch, enter into the url your desired streams.
        For example, https://muchtwitch.com/ninja/tsm_myth

        </div>
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
        
    </body>
</html>

